.bal_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 25px 20px 20px 20px;
}

.bal_cont span {
  font-size: 22px;
  font-weight: 500;
  font-family: "Ubuntu";
  color: rgba(0, 0, 0, 0.6);
  line-height: 2xp;
}

.inc_exp_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Ubuntu";
  color: rgba(0, 0, 0, 0.6);
}

.minus {
  color: red;
}

.plus {
  color: green;
}
