@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap");

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container form {
  text-align: center;
}

.container form input {
  height: 40px;
  width: 90%;
  margin: 7px;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
}

.btn {
  height: 40px;
  width: 90%;
  margin: 7px;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: "Big Shoulders Display", cursive;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(217, 59, 98, 1)),
    to(rgba(233, 88, 96, 1))
  );
  background-image: -o-linear-gradient(
    right,
    rgba(217, 59, 98, 1),
    rgba(233, 88, 96, 1)
  );
  background-image: linear-gradient(
    270deg,
    rgba(217, 59, 98, 1),
    rgba(233, 88, 96, 1)
  );
}
